.navbar{
   
    width: 100%;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 700;
    font-size: 18px;
    
}
.mynavbartext{
    margin-top: 15px;
    margin-left: 15px;
    
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
