.columns{
background-color: white ;

    border-color: #c0c1bc;
    border-style: solid;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    width:100%;
    align-items: center;
    justify-content: center;   
    
}
.img{
  border-color: #c0c1bc;
  border-style: solid;
  width:90% 
}
.home{
  justify-content: center;
  margin: 20px;
    }